@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PC1 DE PROGRAMACIÓN I</h1>
    <p>Chavez Laime Melissa Rocio <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
